body{
    text-align: center;
    background-color: black
}

h1,
h2
{
    font-family: Verdana;
    color: white
}

h1{
    font-size: 50;
}

h2{
    font-size: 42
}

p{
    color: gray;
    font-size: 21;
    font-family: Verdana;
}

a{
    color:aquamarine;
    font-size: 16;
}

footer p{
    text-align: right;
}

